<div class="aboutme">
    <br />
    <p class="asidetitle">关于我</p>
    <p style="margin-top: 8px;">iOS开发新人，以前在 <a target="_blank" style="color: #2ca6cb;text-decoration: underline;" href="http://blog.csdn.net/marujunyy">CSDN</a> 写博客.</p>
    <!--<img src="/images/weixin-qr.jpg" width="220px" />-->
</div>